<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/bootstrap-datetimepicker.css">
        <link rel="stylesheet" href="css/app.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="mod"></div>
        <div id="nav"></div>
        <div id="app"></div>
        <div id="footer"></div>

        <script type="text/template" id="tutoria-template">
        <% console.log(alumno)%>
            <div class="container ">
             <div class="col-xs-12 dashboard">
            <div class="dash-content">
               <h2>Tutoría Individual</h2>
                <div class="row">
                  <div class="col-md-2">Nombre del alumno</div>
                  <div class="col-md-5">Alfredo Esteban Hernández Dávalos</div>
                  <div class="col-md-3"></div>
                </div>
                <div class="row">
                  <div class="col-md-2">Matrícula</div>
                  <div class="col-md-5">UP100180</div>
                  <div class="col-md-3"></div>
                </div>        
                <div class="row">
                  <div class="col-md-2">Grupo</div>
                  <div class="col-md-5">SEI 10A</div>
                  <div class="col-md-3"></div>
                </div> 
                <div class="row">
                  <div class="col-md-2">Periodo</div>
                  <div class="col-md-5">SEPTIEMBRE-DICIEMBRE 2014</div>
                  <div class="col-md-3"></div>
                </div>                
                <div class="row">
                  <div class="col-md-2">Edad</div>
                  <div class="col-md-5">23</div>
                  <div class="col-md-3"></div>
                </div>                
                <br/>
                <br/>
                <ul class="nav nav-tabs" role="tablist" id="lista-dimensiones-tutoria-individual">
                </ul>
                <div class="tab-content" id="container-dimensiones-tutoria-individual">
                </div>
                <!--Ultimos textarea-->
                <div class="row">
                    <div class="container col-md-12">
                        <!-- Textarea -->
                        <div class="control-group">
                          <label class="control-label" for="id_problematica">Problemática</label>
                          <div class="controls">                     
                            <textarea id="id_problematica" name="id_problematica" class="form-control"></textarea><br>
                          </div>
                        </div>

                        <!-- Textarea -->
                        <div class="control-group">
                          <label class="control-label" for="id_resultados">Resultados logrados</label>
                          <div class="controls">                     
                            <textarea id="id_resultados" name="id_resultados" class="form-control"></textarea>
                          </div>
                        </div>
                    </div>
                <!--Fin textarea-->
                </div>
                <div class="row">
                   <button class="btn btn-primary pull-right">
                         Guardar
                   </button>
                </div>
            </div>
        </div>
        </script>

        <script type="text/template" id="tutoriaGrupal-template">
            <div class="container ">
                <div class="col-xs-12 dashboard">
                    <div class="dash-content">
                       <h2>Tutoría Grupal</h2>
                        <div class="row">
                          <div class="col-md-2">Nombre del tutor</div>
                          <div class="col-md-5">Fernando Ulises Medrano</div>
                          <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Fecha</div>
                            <div class="col-md-5">12/08/14</div>
                            <div class="col.md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Carrera</div>
                            <div class="col-md-5">SEI</div>
                            <div class="col.md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Grupo</div>
                            <div class="col-md-5">3B</div>
                            <div class="col.md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Horario</div>
                            <div class="col-md-5"></div>
                            <div class="col.md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Numero de alumnos</div>
                            <div class="col-md-5"></div>
                            <div class="col.md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Tutoría</div>
                            <div class="col-md-5">Mensual / Extaordinaria</div>
                            <div class="col.md-3"></div>
                        </div>
                        <br>

                        <ul class="nav nav-tabs" role="tablist" id="lista-dimensiones-tutoria-grupal"></ul>
                        <div class="tab-content" id="container-dimensiones-tutoria-grupal"></div>

                        <br/>
                        <div class="control-group">
                            <label class="control-label" for="id_resultados">Acciones por emprender</label>
                            <div class="controls">                     
                                <textarea id="id_resultados" name="id_resultados" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        
        <script type="text/template" id="menu-dimension-tutoria-template">
                  <a href="#<%- iddimension %>" role="tab" data-toggle="tab">
                        <%- dimension%>
                  </a>
        </script>

        <script type="text/template" id="container-dimension-tutoria-template">
           <div id="lista-factores-dimension-<%- iddimension %>" class="container-fluid" >
            </div>

        </script>

        <script type="text/template" id="factor-tutoria-template">
             <label>  
               <input type="checkbox" value="">
               <%- factor %>
             </label>
        </script>
        
        <script type="text/template" id="login-template">
            <div id="login-container">
            <form class="form-signin" role="form" action="user/login" method="post" id="form-login">
            <h2 class="form-signin-heading text-primary">Tutorías</h2>
            <input type="email" name="email" class="form-control" placeholder="Correo Electrónico" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>

            <div id="loginMsg" class="bg-danger"></div>
            </form>
            </div>
        </script>

        <script type="text/template" id="historial-alumno-template">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2" style="text-align:center">
                        <img src="img/profile.jpg" class="img-responsive img-circle" />
                    <h4><%- alumno.nombre %></h4>
                <%- alumno.matricula %> / <%- alumno.carrera %><br />
                <% if(TUTORIAS.token == 'administrador') { %>
                    <a href="#/canalizar/<%- alumno.matricula %>" class="btn btn-danger btn-block">
                    <span class="glyphicon glyphicon-send"></span> &nbsp;&nbsp;
                        Canalizar
                    </a>
                    <% } %>
                    <a href="#/aplicar_tutoria/alumno/<%- alumno.matricula %>" class="btn btn-success btn-block">
                    <span class="glyphicon glyphicon-comment"></span> &nbsp;&nbsp;
                        Aplicar Tutoría
                    </a>
                    </div>
                    <div class="col-xs-10">
                        <h2>Historial del Alumno</h2>
                        <table class="table table-striped table-hover" id="tbl-historial">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha de aplicación</th>
                                    <th>Tutor</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="historial-alumno-tutoria-template">
            <td><%= id %></td>
            <td><%= fecha %></td>
            <td><%= tutor %></td>
            <td><a href="#/tutoria/print/<%= id %>" class="tooltips" data-toogle="tooltip" data-placement="left"  title="Ver / Imprimir tutoría"><span class="glyphicon glyphicon-print text-primary"></span></a></td>
        </script>

        <script type="text/template" id="modal-template">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"><%- modal.title %></h4>
            </div>
            <div class="modal-body" id="myModalBody">
            <%= modal.body %>
            </div>
            <div class="modal-footer" id="myModalFooter">
            <%= modal.footer %>
            </div>
            </div>
            </div>
            </div>
        </script>

        <script type="text/template" id="loader-template">
            <div class="modal fade" id="loader" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <h4>Cargando...</h4>
            </div>
            <div class="modal-body">
            Espere mientras sincronizamos su información
            </div>
            </div>
            </div>
            </div>
        </script>

        <script type="text/template" id="success-loader-template">
            <div class="modal fade" id="loader" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <h4>Transeferencia Exitosa</h4>
            </div>
            <div class="modal-body">
            La operación se ha realizado de manera correcta
            <button class="close" data-dismiss="modal">Aceptar</button>
            </div>
            </div>
            </div>
            </div>
        </script>

        <script type="text/template" id="solicitar-form-template">
            <div class="row">
            <div class="col-xs-4" style="text-align:center">
            <img src="img/profile.jpg" width="120px" class="img-circle" />
            <h4><%- alumno.nombre %></h4>
            <%- alumno.matricula %> / <%- alumno.carrera %><br />
            </div>
            <div class="col-xs-8">
            <h4>Solicitud</h4>
            <form id="solicitar-form">
            Motivo:<br />
            <textarea  class="form-control" rows="8"></textarea>
            </form>
            <div class="helper-while-saving hide"></div>
            </div>
            </div>
        </script>

        <script type="text/template" id="solicitar-grupo-form-template">
            <h4><%- grupo.grupo %></h4>
            Última tutoría: <%- grupo.ultima %><br />
            <form id="solicitar-form">
            Motivo:<br />
            <textarea  class="form-control" rows="8"></textarea>
            </form>
            <div class="helper-while-saving hide"></div>
        </script>
        <script type="text/template" id="solicitar-footer-template">
            <button class="btn btn-danger"  data-dismiss="modal" >Cancelar</button>
            <button class="btn btn-success btnok" >Solicitar</button>
            <div class="hide saving-label bg-primary">Guardando <img src="img/ajax-loader-white.gif" /></div>
            <div class="hide ok-saving-label bg-info">
            La solicitud se ha enviado correctamente
            <button type="button" class="btn btn-success btn-xs" data-dismiss="modal">Aceptar</button>
            </div>
        </script>
        <script type="text/template" id="agregar-usuario-form-template">
            <h4>#<%- usuario.idPersona + " " + usuario.nombre %></h4>
            <form class="form-horizontal">
            <fieldset>
            <div class="control-group">
              <label class="control-label" for="nivel-usuario">Nivel</label>
              <div class="controls">
                <select id="nivel-usuario" name="nivel-usuario" class="form-control input-sm">
                  <option>Docente</option>
                  <option>Tutor</option>
                  <option>Administrador</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="estatus-usuario">Estatus</label>
              <div class="controls">
                <select id="estatus-usuario" name="estatus-usuario" class="form-control input-sm">
                  <option>Activo</option>
                  <option>Inactivo</option>
                </select>
              </div>
            </div>
            </fieldset>
            </form>

            <div class="helper-while-saving hide"></div>
        </script>
       <script type="text/template" id="agregar-usuario-footer-template">
            <button class="btn btn-danger"  data-dismiss="modal" >Cancelar</button>
            <button class="btn btn-success btnok" >Agregar usuario</button>
            <div class="hide saving-label bg-primary">Guardando <img src="img/ajax-loader-white.gif" /></div>
            <div class="hide ok-saving-label bg-info">
            La solicitud se ha enviado correctamente
            <button type="button" class="btn btn-success btn-xs" data-dismiss="modal">Aceptar</button>
            </div>
        </script>          
        <script type="text/template" id="editar-usuario-form-template">
            <h4>#<%- usuario.idPersona + " " + usuario.nombre %></h4>
            <form class="form-horizontal">
            <fieldset>
            <div class="control-group">
              <label class="control-label" for="nivel-usuario">Nivel</label>
              <div class="controls">
                <select id="nivel-usuario" name="nivel-usuario" class="form-control input-sm">
                  <option>Docente</option>
                  <option>Tutor</option>
                  <option>Administrador</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="estatus-usuario">Estatus</label>
              <div class="controls">
                <select id="estatus-usuario" name="estatus-usuario" class="form-control input-sm">
                  <option>Activo</option>
                  <option>Inactivo</option>
                </select>
              </div>
            </div>
            </fieldset>
            </form>

            <div class="helper-while-saving hide"></div>
        </script>

       <script type="text/template" id="editar-usuario-footer-template">
            <button class="btn btn-danger"  data-dismiss="modal" >Cancelar</button>
            <button class="btn btn-success btnok" >Guardar usuario</button>
            <div class="hide saving-label bg-primary">Guardando <img src="img/ajax-loader-white.gif" /></div>
            <div class="hide ok-saving-label bg-info">
            El usuario se ha editado correctamente.
            <button type="button" class="btn btn-success btn-xs" data-dismiss="modal">Aceptar</button>
            </div>
        </script>

        <script type="text/template" id="nav-bar">
            <div id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container nobg">
            <div class="navbar-header">
            <a class="navbar-brand" href="#/">Tutorías</a>
            </div>
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <% _.each(menus,function(item){ %>
            <% if (item.menu instanceof Object){ %>
            <li class="dropdown <%- item.menu.menu %>">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#/<%- item.menu.menu  %>"><%- item.menu.menu %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <% _.each(item.menu.submenus,function(subitem){ %>
            <li class="<%- subitem.submenu %>">
            <a href="#/<%- item.menu.menu %>/<%- subitem.submenu %>">
            <%- subitem.submenu.replace("_", " ") %>
            </a>
            </li>
            <% }); %>
            </ul>
            </li>
            <% } else {%>
            <li class="<%- item.menu %>">
            <a href="#/<%- item.menu %>"><%- item.menu %></a>
            </li>
            <% } %>
            <% }); %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><p class='navbar-text perfil'><span class=" glyphicon glyphicon-user"></span></p></li>
            <li><a href="user/logout" class="logout">Salir</a></li>
            </ul>
            </div>
            </div>
            </div>
        </script>

        <script type="text/template" id="dashboard-template">
            <div class="container">
            <div class="row">
            <div class="col-xs-6 dashboard">
            <div class="dash-content">
            <h4>
            Alumnos en Proceso 
            <a href="#" class="tooltips" data-toogle="tooltip" data-placement="right"  title="Descargar reporte de alumnos">
            <span class="glyphicon glyphicon-cloud-download"></span>
            </a>
            </h4>
            <div class="input-group">
            <input id="buscar-alumno-activo" placeholder="Buscar por matrícula o nombre" class="form-control" />
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
            </span></div>
            <table id="table-alumnos" class="table table-striped table-hover">
            <thead>
            <tr>
            <th>Matrícula</th>
            <th>Nombre</th>
            <th>Última Tutoria</th>
            <% if(TUTORIAS.token != "docente") { %>
            <th>Opciones</th>
            <%}%>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
            </div>
            </div>
            <div class="col-xs-6 dashboard">
            <div class="dash-content">
            <h4>Grupos en Proceso
            <a href="#" class="tooltips" data-toogle="tooltip" data-placement="right"  title="Descargar reporte de grupos">
            <span class="glyphicon glyphicon-cloud-download"></span>
            </a></h4>
            <div class="input-group">
            <input id="buscar-alumno-activo" placeholder="Buscar por nombre" class="form-control" />
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
            </span></div>
            <table id="table-grupos" class="table table-striped table-hover">
            <thead>
            <tr>
            <th>#</th>
            <th>Grupo</th>
            <th>Última Tutoria</th>
            <% if(TUTORIAS.token != "docente") { %>
            <th>Opciones</th>
            <%}%>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
        </script>

        <script type="text/template" id="alumno-activo-template">
            <td><%- matricula %></td>
            <td><%- nombre %></td>
            <td><%- ultima %></td>
            <% if(TUTORIAS.token != 'docente') { %>
            <td>
            <a data-toogle="tooltip" data-placement="right"  title="Aplicar Tutoría" href="#/aplicar_tutoria/alumno/<%- matricula %>" class="glyphicon glyphicon-comment glyphicon-lg tooltips"></a> 
            <a data-toogle="tooltip" data-placement="right"  title="Historial"  href="#/historial/alumno/<%- matricula %>" class="glyphicon glyphicon-floppy-disk glyphicon-lg tooltips"></a>
            </td>
            <%}%>
        </script>
        <script type="text/template" id="alumno-template">
            <td><%- matricula %></td>
            <td><%- nombre %></td>
            <td><%- carrera %></td>
            <td><%- (ultima ? ultima : '') %></td>
            <td>
            <a data-toogle="tooltip" data-placement="bottom"  title="Solicitar tutoría para alumno" href="#/solicitar/alumno/<%- matricula %>" class="glyphicon glyphicon-link glyphicon-lg tooltips solicitar"></a>
            <% if(TUTORIAS.token != 'docente') { %>
            <% if(TUTORIAS.token != 'tutor') { %>
            <a data-toogle="tooltip" data-placement="bottom"  title="Aplicar tutoría" href="#/aplicar_tutoria/alumno/<%- matricula %>" class="glyphicon glyphicon-comment glyphicon-lg tooltips" ></a> 
            <%}%>
            <a data-toogle="tooltip" data-placement="right"  title="Historial"  href="#/historial/alumno/<%- matricula %>" class="glyphicon glyphicon-floppy-disk glyphicon-lg tooltips"></a>
            <%}%>
            </td>
        </script>
        <script type="text/template" id="grupo-activo-template">
            <td><%- idgrupo %></td>
            <td><%- grupo %></td>
            <td><%- ultima %></td>
            <% if(TUTORIAS.token != 'docente') { %>
            <td>
            <a data-toogle="tooltip" data-placement="bottom"  title="Aplicar tutoría" href="#/tutoria/grupo/<%- idgrupo %>" class="glyphicon glyphicon-comment glyphicon-lg tooltips"></a> 
            <a data-toogle="tooltip" data-placement="bottom"  title="Ver historial" href="#/tutoria/grupo/<%- idgrupo %>" class="glyphicon glyphicon-floppy-disk glyphicon-lg tooltips"></a>
            </td>
            <%}%>
        </script>

        <script type="text/template" id="grupo-template">
            <td><%- idgrupo %></td>
            <td><%- grupo %></td>
            <td><%- ultima %></td>
            <td>
            <a data-toogle="tooltip" data-placement="bottom"  title="Solicitar tutoría para grupo" href="#/solicitar/grupo/<%- idgrupo %>" class="glyphicon glyphicon-link glyphicon-lg tooltips solicitar"></a>
            <% if(TUTORIAS.token != 'docente') { %>
            <% if(TUTORIAS.token != 'tutor') { %>
            <a data-toogle="tooltip" data-placement="bottom"  title="Aplicar tutoría" href="#/tutoria/grupo/<%- idgrupo %>" class="glyphicon glyphicon-comment glyphicon-lg tooltips"></a> 
            <%}%>
            <a data-toogle="tooltip" data-placement="bottom"  title="Opcion 3" href="#/tutoria/grupo/<%- idgrupo %>" class="glyphicon glyphicon-floppy-disk glyphicon-lg tooltips"></a>
            <%}%>
            </td>
        </script>
        <script type="text/template" id="alumnos-template">
            <div class="container">

            <div class="col-xs-12 dashboard">
            <div class="dash-content">
            <h2>Buscar Alumnos </h2>

            <div class="col-xs-8">
            <div class="input-group">
            <span class="input-group-addon">
            <i  class="glyphicon glyphicon-search"></i>
            </span>
            <input id="buscar-alumno" placeholder="Buscar por nombre o matrícula" class="form-control" />
            </div>
            </div>
            <div class="col-xs-4">
            <div class="input-group">
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-filter"></i>
            </span>
            <select id="buscar-carrera" class="form-control" >
            <option>Todas las carreras</option>
            </select>
            </div>
            </div>

            <table id="table-alumnos" class="table table-striped table-hover">
            <thead>
            <tr>
            <th>Matrícula</th>
            <th>Alumno</th>
            <th>Carrera</th>
            <th>Última</th>
            <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
            <div>
            <div>
            </div>
        </script>

        <script type="text/template" id="grupos-template">

            <div class="container">

            <div class="col-xs-12 dashboard">
            <div class="dash-content">
            <h2>Buscar Grupos</h2>

            <div class="col-xs-8">
            <div class="input-group">
            <span class="input-group-addon">
            <i  class="glyphicon glyphicon-search"></i>
            </span>
            <input id="buscar-alumno" placeholder="Buscar por grupo" class="form-control" />
            </div>
            </div>
            <div class="col-xs-4">
            <div class="input-group">
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-filter"></i>
            </span>
            <select id="buscar-carrera" class="form-control" >
            <option>Todas las carreras</option>
            </select>
            </div>
            </div>

            <table id="table-grupos" class="table table-striped table-hover">
            <thead>
            <tr>
            <th>#</th>
            <th>Grupo</th>
            <th>Última</th>
            <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
            </div>
            </div>
            </div>
        </script>
        <script type="text/template" id="posibles-usuarios-template">

            <div class="container">

            <div class="col-xs-12 dashboard">
            <div class="dash-content">
            <h2>Buscar Posibles Usuarios </h2>

            <div class="col-xs-12">
            <div class="input-group">
            <span class="input-group-addon">
            <i  class="glyphicon glyphicon-search"></i>
            </span>
            <input id="buscar-posible-usuario" placeholder="Buscar por número o nombre" class="form-control" />
            </div>
            </div>

            </form>
            <!--Tabla usuarios-->
            <table id="table-posibles-usuarios" class="table table-striped table-hover">
            <thead>
            <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>           
            </div>
            </div>
            </div>
        </script>        
        <script type="text/template" id="usuarios-template">

            <div class="container">

            <div class="col-xs-12 dashboard">
            <div class="dash-content">
            <h2>Buscar  Usuarios </h2>

            <div class="col-xs-6">
            <div class="input-group">
            <span class="input-group-addon">
            <i  class="glyphicon glyphicon-search"></i>
            </span>
            <input id="buscar-usuario" placeholder="Buscar por número o nombre" class="form-control" />
            </div>
            </div>
            <div class="col-xs-3">
            <div class="input-group">
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-filter"></i>
            </span>
            <select id="buscar-nivel" class="form-control" >
            <option>Todos los niveles</option>
            </select>
            </div>
            </div>
            <div class="col-xs-3">
            <div class="input-group">
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-filter"></i>
            </span>
            <select id="buscar-estatus" class="form-control" >
            <option>Todos los estatus</option>
            </select>
            </div>
            </div>
            </form>
            <!--Tabla usuarios-->
            <table id="table-usuarios" class="table table-striped table-hover">
            <thead>
            <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Nivel</th>
            <th>Estatus</th>
            <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>           
            </div>
            </div>
            </div>
        </script>

        <script type="text/template" id="solicitud-alumnos-template">
            <div class="container">
                <div class="col-xs-12 dashboard">
                    <div class="dash-content">
                        <h2>Solicitudes Alumno </h2>
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i  class="glyphicon glyphicon-search"></i>
                                </span>
                                <input id="buscar-alumno" placeholder="Buscar por matricula o nombre" class="form-control" />
                            </div>
                        </div>
                        <!--Tabla de solicitud de alumnos-->
                        <table id="table-solicitudes-alumnos" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Matricula</th>
                                    <th>Fecha</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>           
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="solicitud-alumno-template">
            <td><%- idsolicitud %></td>
            <td><%- matricula %></td>
            <td><%- solicitante %></td>
            <td><%- fecha %></td>
            <% if(TUTORIAS.token == 'administrador') { %>
            <td>
            <a data-toogle="tooltip" data-placement="bottom"  title="Editar información de alumno" href="#editar/alumno<%- matricula %>" class="glyphicon glyphicon-pencil glyphicon-lg tooltips editar-alumno"></a> 
            </td>
            <%}%>
        </script>

        <script type="text/template" id="solicitud-grupos-template">
            <div class="container">
                <div class="col-xs-12 dashboard">
                    <div class="dash-content">
                        <h2>Solicitudes Grupo </h2>
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i  class="glyphicon glyphicon-search"></i>
                                </span>
                                <input id="buscar-alumno" placeholder="Buscar por carrera ó grupo" class="form-control" />
                            </div>
                        </div>
                        <!--Tabla de solicitud de grupos-->
                        <table id="table-solicitudes-grupos" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Grupo</th>
                                    <th>Carrera</th>
                                    <th>Fecha</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>           
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="solicitud-grupo-template">
            <td><%- idsolicitud %></td>
            <td><%- grupo %></td>
            <td><%- carrera %></td>
            <td><%- fecha %></td>
            <% if(TUTORIAS.token == 'administrador') { %>
            <td>
            <a data-toogle="tooltip" data-placement="bottom"  title="Editar información de grupo" href="#editar/alumno<%- grupo %>" class="glyphicon glyphicon-pencil glyphicon-lg tooltips editar-alumno"></a> 
            </td>
            <%}%>
        </script>

        <script type="text/template" id="usuario-template">
            <td><%- idPersona %></td>
            <td><%- nombre %></td>
            <td><%- nivel_usuario %></td>
            <td><%- activo %></td>
            <% if(TUTORIAS.token == 'administrador') { %>
            <td>
            <a data-toogle="tooltip" data-placement="bottom"  title="Editar información de usuario" href="#editar/usuario/<%- idPersona %>" class="glyphicon glyphicon-pencil glyphicon-lg tooltips editar-usuario"></a> 
            </td>
            <%}%>
        </script>

        <script type="text/template" id="posible-usuario-template">
            <td><%- idPersona %></td>
            <td><%- nombre %></td>
            <% if(TUTORIAS.token == 'administrador') { %>
            <td>
            <a data-toogle="tooltip" data-placement="bottom"  title="Agregar usuario" href="#/tutoria/agregar/<%- idPersona %>" class="glyphicon glyphicon-plus glyphicon-lg tooltips agregar-usuario"  data-original-title="Agregar usuario"></a> 
            </td>
            <%}%>
        </script>
        <script type="text/template" id="dimensiones-template">
            <div class="container">

            <div class="col-xs-12 dashboard">
            <div class="dash-content">
            <h2>Dimensiones </h2>

            <div class="col-xs-6">
            <div class="input-group">
            <span class="input-group-addon">
            <i  class="glyphicon glyphicon-search"></i>
            </span>
            <input id="buscar-dimension" placeholder="Buscar dimensión por nombre" class="form-control" />
            </div>
            </div>
            <div class="col-xs-4">
            <div class="input-group">
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-filter"></i>
            </span>
            <select id="buscar-tipo" class="form-control" >
            <option>Todos los tipos</option>
            </select>
            </div>
            </div>
            <div class="col-xs-2">
              <div class="control-group">
                <div class="controls">
                  <button id="agregar-nueva-dimension" name="agregar-nueva-dimension" class="btn btn-primary">Agregar dimensión</button>
                </div>
              </div>
            </div>
            </form>
            <!--Tabla dimensiones-->
            <table id="table-dimensiones" class="table table-striped table-hover">
            <thead>
            <tr>
            <th>#</th>
            <th>Dimensión</th>
            <th>Tipo</th>
            <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>           
            </div>
            </div>
            </div>
        </script>
        <script type="text/template" id="dimension-template">
            <td><%- iddimension %></td>
            <td><%- dimension %></td>
            <td><%- tipo %></td>
            <td>
            <a data-toogle="tooltip" data-placement="bottom"  title="Editar dimensión" href="#/dimension/editar/<%- iddimension %>" class="glyphicon glyphicon-pencil glyphicon-lg tooltips editar-dimension"></a>
            <a data-toogle="tooltip" data-placement="bottom"  title="Ver factores 3" href="#/dimension/factores/<%- iddimension %>" class="glyphicon glyphicon-list glyphicon-lg tooltips"></a>
            </td>
        </script>
        <script type="text/template" id="agregar-dimension-form-template">
            <form class="form-horizontal">
            <fieldset>
            <div class="control-group">
                <label class="control-label" for="dimension">Dimension</label>
                <div class="controls">
                  <input id="dimension" name="dimension" type="text" placeholder="Nombre de dimensión" class=" form-control input-large" required="">
               </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="tipo-dimension">Tipo dimension</label>
              <div class="controls">
                <select id="tipo-dimension" name="tipo-dimension" class="form-control input-sm">
                  <option>Tutoría Individual</option>
                  <option>Tutoría Grupal</option>
                </select>
              </div>
            </div>
            </fieldset>
            </form>

            <div class="helper-while-saving hide"></div>
        </script>

       <script type="text/template" id="agregar-dimension-footer-template">
            <button class="btn btn-danger"  data-dismiss="modal" >Cancelar</button>
            <button class="btn btn-success btnok" >Agregar dimension</button>
            <div class="hide saving-label bg-primary">Guardando <img src="img/ajax-loader-white.gif" /></div>
            <div class="hide ok-saving-label bg-info">
            La dimensión ha sido agregada correctamente.
            <button type="button" class="btn btn-success btn-xs" data-dismiss="modal">Aceptar</button>
            </div>
        </script>
        <script type="text/template" id="editar-dimension-form-template">
            <form class="form-horizontal">
            <fieldset>
            
            <div class="control-group">
                <label class="control-label" for="dimension">Dimension</label>
                <div class="controls">
                  <input id="dimension" name="dimension" type="text" placeholder="Nombre de dimensión" class="form-control input-large" required="" value="<%- dimension.dimension %>">
               </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="estatus-usuario">Tipo dimension</label>
              <div class="controls">
                <select id="tipo-dimension" name="tipo-dimension" class="form-control input-sm">
                  <option <% if (dimension.tipo == 'Tutoría Individual'){ %> selected <% } %> > Tutoría Individual</option>
                  <option <% if (dimension.tipo == 'Tutoría Grupal'){ %> selected <% } %> >Tutoría Grupal</option>
                </select>
              </div>
            </div>
            </fieldset>
            </form>

            <div class="helper-while-saving hide"></div>
        </script>
       <script type="text/template" id="editar-dimension-footer-template">
            <button class="btn btn-danger"  data-dismiss="modal" >Cancelar</button>
            <button class="btn btn-success btnok" >Agregar dimension</button>
            <div class="hide saving-label bg-primary">Guardando <img src="img/ajax-loader-white.gif" /></div>
            <div class="hide ok-saving-label bg-info">
            La dimensión ha sido agregada correctamente.
            <button type="button" class="btn btn-success btn-xs" data-dismiss="modal">Aceptar</button>
            </div>
        </script>        
        <script type="text/template" id="factores-template">

            <div class="container">

            <div class="col-xs-12 dashboard">
            <div class="dash-content">
            <h2>Dimensión Psicosocial</h2>
            <h3>Factores</h3>
            <div class="col-xs-6">
            <div class="input-group">
            <span class="input-group-addon">
            <i  class="glyphicon glyphicon-search"></i>
            </span>
            <input id="buscar-factor" placeholder="Buscar por factor por nombre" class="form-control" />
            </div>
            </div>
            <div class="col-xs-4">
            <div class="input-group">
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-filter"></i>
            </span>
            <select id="buscar-llave" class="form-control" >
            <option>Todas las llaves</option>
            </select>
            </div>
            </div>
             <div class="col-xs-2">
              <div class="control-group">
                <div class="controls">
                  <button id="agregar-nuevo-factor" name="agregar-nuevo-factor" class="btn btn-primary">Agregar factor</button>
                </div>
              </div>
            </div>
            </form>
            <!--Tabla factores-->
            <table id="table-factores" class="table table-striped table-hover">
            <thead>
            <tr>
            <th>#</th>
            <th>Factor</th>
            <th>Llave</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>           
            </div>
            </div>
            </div>
        </script>
        <script type="text/template" id="factor-template">
            <td><%- idfactor %></td>
            <td><%- factor %></td>
            <td><%- llave %></td>
            <td>
            <a data-toogle="tooltip" data-placement="bottom"  title="Editar factor" href="#/factor/editar/<%- idfactor %>" class="glyphicon glyphicon-pencil glyphicon-lg tooltips editar-factor"></a>
            </td>
        </script>
        <script type="text/template" id="agregar-factor-form-template">
            <form class="form-horizontal">
            <fieldset>
            <div class="control-group">
                <label class="control-label" for="factor">Factor</label>
                <div class="controls">
                  <input id="factor" name="factor" type="text" placeholder="Nombre de factor" class=" form-control input-large"  required="">
               </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="llave">Llave</label>
                <div class="controls">
                  <input id="llave" name="llave" type="text" placeholder="Llave de factor" class=" form-control input-large" required="">
               </div>
            </div>                 
            </fieldset>
            </form>

            <div class="helper-while-saving hide"></div>
        </script>

       <script type="text/template" id="agregar-factor-footer-template">
            <button class="btn btn-danger"  data-dismiss="modal" >Cancelar</button>
            <button class="btn btn-success btnok" >Agregar factor</button>
            <div class="hide saving-label bg-primary">Guardando <img src="img/ajax-loader-white.gif" /></div>
            <div class="hide ok-saving-label bg-info">
            La dimensión ha sido agregada correctamente.
            <button type="button" class="btn btn-success btn-xs" data-dismiss="modal">Aceptar</button>
            </div>
        </script>
        <script type="text/template" id="editar-factor-form-template">
            <form class="form-horizontal">
            <fieldset>
            <div class="control-group">
                <label class="control-label" for="factor">Factor</label>
                <div class="controls">
                  <input id="factor" name="factor" type="text" placeholder="Nombre de factor" class=" form-control input-large" value="<%- factor.factor %>" required="">
               </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="llave">Llave</label>
                <div class="controls">
                  <input id="llave" name="llave" type="text" placeholder="Llave de factor" class=" form-control input-large" value="<%- factor.llave %>" required="">
               </div>
            </div>                 
            </fieldset>
            </form>

            <div class="helper-while-saving hide"></div>
        </script>

       <script type="text/template" id="editar-factor-footer-template">
            <button class="btn btn-danger"  data-dismiss="modal" >Cancelar</button>
            <button class="btn btn-success btnok" >Agregar factor</button>
            <div class="hide saving-label bg-primary">Guardando <img src="img/ajax-loader-white.gif" /></div>
            <div class="hide ok-saving-label bg-info">
            La dimensión ha sido agregada correctamente.
            <button type="button" class="btn btn-success btn-xs" data-dismiss="modal">Aceptar</button>
            </div>
        </script>
       <script type="text/template" id="tutoria-alumno-template">
        <div></div>
        </script>
        <script type="text/template" id="footer-template">
            <footer>
              <div class="navbar navbar-fixed-bottom">
                  <div class="container">
                    <div class="row row-centered">
                       <div class="col-md-3">
                        Sistema de Tutorías © 2014
                       </div>                        
                       <div class="col-md-2">
                            [<a href="mailto:desarrollo.sii@upa.edu.mx">desarrollo.sii@upa.edu.mx</a>]
                       </div>    
                       <div class="col-md-2">
                            [<a href="mailto:sii@upa.edu.mx">sii@upa.edu.mx</a>]
                       </div>
                        <div class="col-md-2">
                            [<a href="mailto:adria.abrego@upa.edu.mx">adrian.abrego@upa.edu.mx</a>]
                       </div>
                       <div class="col-md-3">
                       </div>  
                    </div>                  
                  </div>
              </div>
          </footer>
        </script>
        
        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/vendor/bootstrap.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/backbone.js"></script>
        <script src="js/vendor/bootstrap-datetimepicker.min.js"></script>
        <script src="js/vendor/jquery.backstretch.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/vendor/checked-list-group.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
